h3{
  text-align: center;




}


body{

  text-align: center;
  background-color: tan;
}


img{

  height: 300px;
  width: 300px;
  border: 12px solid brown;
}

.animals{
  float: left;
  width: 300px;
}


p{

  font-size: 14px;

}

.animals p{
    color: darkblue;

}
